@keyframes grow {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.bar {
  display: none;
  position: absolute;
  height: 2px;
  width: 0px;
  background: #005193;
}

.topBar {
  @extend .bar;
  top: 4px;
  animation: grow 1.5s linear infinite;
}

.middleBar {
  @extend .bar;
  top: 8px;
  animation: grow 1.65s linear infinite;
}

.bottomBar {
  @extend .bar;
  top: 12px;
  animation: grow 1.75s linear infinite;
}
